.slide {
    position: relative;

    // 個人經歷
    &.slide_personal {
        background-color: $slide_personal;
        background-image: url(../image/slide/slide_personal.png);
        background-position: center;
        background-size: cover;
    }

    // 研究成果
    &.slide_research {
        background-color: $slide_research;
        background-image: url(../image/slide/slide_research.png);
        background-position: center;
        background-size: cover;
    }

    // 實驗室簡介
    &.slide_laboratory {
        background-color: $slide_laboratory;
        background-image: url(../image/slide/slide_laboratory.png);
        background-position: center;
        background-size: cover;
    }

    // 社會貢獻
    &.slide_society {
        background-color: $slide_society;
        background-image: url(../image/slide/slide_society.png);
        background-position: center;
        background-size: cover;
    }

    &.slide_page {
        .slide_page_area{
            width: 80%;
            .slide_title{
                padding: 30px 5%;
                h3{
                    color: $white;
                }
            }
            .slide_figure{
                display: none;
            }
        }
        
    }
}

main {
    background-color: $main_bg;

    .main_content_area {
        width: 100%;
        margin: 0 auto;
        padding: 20px 5%;
        background-color: $white;

        .main_content_left {
            display: none;
        }

        .main_content_right {
            padding: 20px 10px;

            .text_item_link{
                &:hover{
                    color: $main_color;
                    text-decoration: underline;
                }
            }

            .main_content_text_item {
                margin: 0 0 40px;

                .main_content_text_tittle {
                    margin: 0 0 10px;
                }

                .main_content_text_content{
                    .text_content_paragraph{
                        margin: 5px 0;
                        &.text_space{
                            text-indent: 2em;
                        }
                    }
                    
                    .text_around_area{
                        margin: 20px 0;
                        .text_around_img{
                            margin: 10px;
                            float: right;
                            &.text_around_img_laboratory{
                                width: 50%;
                                max-width: 350px;
                            }
                        }
                    }
                }
            }

            .main_content_img_item{
                margin: 40px auto;
            }

            .switch_item{
                margin: 0 0 8px; 
                .switch_tittle{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $grey;
                    padding: 10px 0;
                    cursor: pointer;

                    &:hover{
                        background-color: darken($grey, 5%);
                    }

                    h4{
                        margin: 0 10px 0 0;
                    }
                    .arrow{
                        display: inline-block;
                        border-width: 0px 8px 8px 8px;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-top: 8px solid $black;
                        &.up{
                                border-bottom: 8px solid $black;
                                border-top: 0px solid $black;
                        }
                    }
                    
                }
                .switch_content{
                    padding: 25px 0;

                    .switch_content_item{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        padding: 8px 0;
                        .switch_content_item_text{
                            margin: 0 10px 0 0;
                        }

                        .switch_content_item_btn{
                            padding: 1px 10px;
                            margin: 5px 10px 5px 0;
                            background-color: $light_grey;
                            border: 1px solid $black;
                            border-radius: 5px;

                            &:hover{
                                background-color: $grey;
                                a{
                                    color: $black;
                                }
                            }
                        }
                    }
                }
            }
        }

        // 單邊
        &.single_area{
            transform: translate(0);
            .main_content_right {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    .slide {
        .slide_page_area{
            .slide_title {
                padding: 80px 10%;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    main {

        .main_content_area{
            padding: 0;
            .main_content_right{
                padding: 60px 50px;
                margin: 0 auto;
                
            }
        }
    
    }

}

@media screen and (min-width: 1200px) {

    .slide {

        &.slide_page {
            
            .slide_page_area{
                display: flex;
            align-items: flex-end;
            justify-content: center;
            padding: 0 5%;
            max-width: 1200px;
            margin: 0 auto;

                .slide_title {
                    padding: 80px 5% 80px 0;
                }
    
                .slide_figure {
                    display: block;
                    width: 260px;
                }
            }
            
        }
    }

    main {
        .main_content_area {
            display: flex;
            justify-content: center;
            background-color: transparent;
            padding: 0;
            width: 90%;
            transform: translate(-155px, 0px);

            .main_content_left {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                width: 310px;
                padding: 60px 0;
                margin: 0 40px;

                .main_content_left_ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin: 0 0 50px;
                    li {
                        margin: 0 0 20px;

                        .main_content_left_link {

                            &.active,
                            &:hover {
                                color: $main_color;
                            }

                            position: relative;

                            &.active {
                                &::after {
                                    position: absolute;
                                    font-family: 'Font Awesome 5 Free';
                                    color: $main_color;
                                    font-weight: 900;
                                    content: "\f0de";
                                    top: 50%;
                                    margin: 0 0 0 5px;
                                    font-size: 15px;
                                    transform: translate(0px, -50%) rotate(90deg);
                                }
                            }

                        }

                        &.main_content_left_link_tittle{
                            margin: 0 0 10px;
                        }
                    }
                }
            }

            .main_content_right {
                width: calc(100% - 505px);
                max-width: 1200px;
                background-color: $white;
                margin: 0;
            }


        }
    }
}


@media screen and (min-width: 1400px) {
    .slide {

        &.slide_page {
            
            .slide_page_area{
            justify-content: space-between;
            padding: 0;

                .slide_title {
                    padding: 80px 0 80px 80px;
                }
    
                .slide_figure {
                    margin: 0 180px 0 0;
                }
            }
            
        }
    }
}