main {

    .main_content_area{
        .main_content_right{
            .personal_area{
                .personal_item{
                    margin: 20px 0; 
                    .personal_tittle{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $grey;
                        padding: 10px 0;
                        cursor: pointer;

                        &:hover{
                            background-color: darken($grey, 5%);
                        }

                        h4{
                            margin: 0 10px 0 0;
                        }
                        .arrow{
                            display: inline-block;
                            border-width: 0px 8px 8px 8px;
                            border-left: 8px solid transparent;
                            border-right: 8px solid transparent;
                            border-top: 8px solid $black;
                            &.up{
                                    border-bottom: 8px solid $black;
                                    border-top: 0px solid $black;
                            }
                        }
                        
                    }
                    .personal_content{
                        padding: 20px 0;
                        overflow-x: scroll;
                        .personal_content_item_table{
                            width: 100%;
                            min-width: 740px;
                            margin: 10px 0;
                            thead{
                                background-color: $light_grey;
                                tr{
                                    margin: 10px 0;
                                    td{
                                        padding: 10px;
                                        text-align: center;
                                    }
                                }
                            }
                            tbody{
                                .personal_content_item_tr{
                                    margin: 10px 0;
                                    &:nth-child(even){
                                        background-color: $light_grey;
                                    }
                                    td{
                                        width: 100%;
                                        padding: 10px;
                                    }
                                }
                            }
                            
                        }

                        &.learning_experience{
                            .personal_content_item_table{
                                .personal_content_item_tr{
                                    td{
                                        &:nth-child(1){
                                            width: 55%;
                                        }
                                        &:nth-child(2){
                                            width: 20%;
                                        }
                                        &:nth-child(3){
                                            width: 25%;
                                        }
                                    }
                                }
                            }
                        }

                        &.academic_services{
                            .personal_content_item_table{
                                .personal_content_item_tr{
                                    td{
                                        &:nth-child(1){
                                            width: 30%;
                                        }
                                        &:nth-child(2){
                                            width: 45%;
                                        }
                                        &:nth-child(3){
                                            width: 25%;
                                        }
                                    }
                                }
                            }
                        }

                        &.honor{
                            .personal_content_item_table{
                                .personal_content_item_tr{
                                    td{
                                        &:nth-child(1){
                                            width: 25%;
                                        }
                                        &:nth-child(2){
                                            width: 50%;
                                        }
                                        &:nth-child(3){
                                            width: 25%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            
        }
    }

}
@media screen and (min-width: 500px) {
    
}

@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 992px) {
    main {

        .main_content_area{
            .main_content_right{
                padding: 0 25px;
                .personal_area{
                    .personal_item{
                        margin: 0 0 30px;
                    }
                }
    
                
            }
        }
    
    }
}

@media screen and (min-width: 1200px) {

}


@media screen and (min-width: 1400px) {

}