main {

    .main_content_area{
        .main_content_right{
            .personal_area{
                .CV_btn_area{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin: 0 0 20px;
                    .CV_btn_link{
                        margin: 0 0 0 10px;
                        padding: 5px 10px;
                        color: $main_color;
                        border: 1px solid $main_color;
                        border-radius: 5px;

                        &:hover{
                            background-color: $main_color;
                            color: $white;
                        }
                    }
                }
                .switch_item{
                    .switch_content{
                        overflow-x: scroll;

                        .switch_content_item_table{
                            width: 100%;
                            min-width: 740px;
                            thead{
                                tr{
                                    td{
                                        padding: 5px 10px;
                                    }
                                }
                            }
                            tbody{
                                .switch_content_item_tr{
                                    td{
                                        width: 100%;
                                        padding: 5px 10px;
                                    }
                                }
                            }
                            &.teaching_table{
                                margin: 0 0 50px;
                            }
                        }

                        &.learning_experience{
                            .switch_content_item_table{
                                .switch_content_item_tr{
                                    td{
                                        &:nth-child(1){
                                            width: 55%;
                                        }
                                        &:nth-child(2){
                                            width: 20%;
                                        }
                                        &:nth-child(3){
                                            width: 25%;
                                        }
                                    }
                                }
                            }
                        }

                        &.academic_services{
                            .switch_content_item_table{
                                .switch_content_item_tr{
                                    td{
                                        &:nth-child(1){
                                            width: 30%;
                                        }
                                        &:nth-child(2){
                                            width: 45%;
                                        }
                                        &:nth-child(3){
                                            width: 25%;
                                        }
                                    }
                                }
                            }
                        }

                        &.honor{
                            .switch_content_item_table{
                                .switch_content_item_tr{
                                    td{
                                        &:nth-child(1){
                                            width: 25%;
                                        }
                                        &:nth-child(2){
                                            width: 50%;
                                        }
                                        &:nth-child(3){
                                            width: 25%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            
        }
    }

}
@media screen and (min-width: 500px) {
    
}

@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 992px) {
    main {

        .main_content_area{
            .main_content_right{
                .personal_area{
                    .CV_btn_area{
                        margin: 0 0 40px;
                        .CV_btn_link{
                            margin: 0 0 0 20px;
                        }
                    }

                    .switch_item{
                        .switch_content{
                            overflow-x: auto;
                        }
                    }
                }
            }
        }
    
    }
}

@media screen and (min-width: 1200px) {

}


@media screen and (min-width: 1400px) {

}