$header_bg: #F2F2F2;
$body_bg: #f0f2f2;
$box_shadow_color:#2f2f2f1f;

/*main*/
$main_color: #91252b;
$main_color_yellow: #ffe503;
$main_bg:#f4f8fb;
$slide_personal:#ffaa65;
$slide_research:#7fdefd;
$slide_laboratory:#b7cc57;
$slide_society:#77c6c9;

/*other*/
$white:#fff;
$grey: #f1f1f1;
$black:#2f2f2f;
$dropdownBg:#00000099;
$light_grey: #f2f2f2;
$dark_grey: #d5d5d5;
$copyright_color:#999;
