/*main*/
/*other*/
body { font-family: 'Noto Sans', 'Noto Sans TC', 'Noto Sans SC', 'Microsoft JhengHei', 'Noto Sans TC', 'Microsoft YaHei', 'PingFang TC', 'PingFang SC', 'Heiti TC', 'Heiti SC', 'LiHei Pro', 'STXihei', sans-serif; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, a, button, blockquote, th, td, figure { margin: 0; padding: 0; list-style: none; font-weight: 400; color: #2f2f2f; }

h1 { font-size: 29px; line-height: 1.7; font-weight: bold; }

h3 { font-size: 27px; line-height: 1.7; font-weight: bold; }

h4 { font-size: 19px; line-height: 1.5; font-weight: bold; }

h4 a { font-size: 19px; line-height: 1.5; font-weight: bold; }

h5 { font-size: 16px; line-height: 1.7; }

p { font-size: 14px; line-height: 1.7; }

span, th, td, ul, li, select, option { font-size: 14px; text-decoration: none; line-height: 1.7; }

a { font-size: 14px; text-decoration: none; line-height: 1.7; }

a:active { border-style: none; border: 0px; }

b { color: #2f2f2f; }

ruby { letter-spacing: 1.8px; line-height: 3; }

rt { transform: translateY(-35%); }

input, label { font-size: 14px; line-height: 1.7; }

input[type=file]::file-selector-button { display: none; }

img { width: 100%; line-height: 0; }

button { font-size: 14px; padding: 0; border-width: 0px; border-style: none; background-color: transparent; border-radius: 10px; cursor: pointer; }

button:disabled { background-color: #f1f1f1 !important; border: 1px solid #f1f1f1 !important; opacity: 0.5; cursor: auto !important; }

button:disabled a { color: #fff !important; cursor: auto; }

*, body { letter-spacing: 1.5px; box-sizing: border-box; }

body { background-color: #f0f2f2; }

.cursor { cursor: pointer; }

.text_center { text-align: center; }

@media screen and (min-width: 768px) { h1 { font-size: 36px; }
  h3 { font-size: 26px; }
  h4 { font-size: 20px; }
  h4 a { font-size: 20px; }
  h5 { font-size: 17px; }
  p { font-size: 15px; }
  span, th, td, ul, li, select, option { font-size: 15px; }
  a { font-size: 15px; }
  input, label { font-size: 15px; }
  button { font-size: 15px; } }

@media screen and (min-width: 992px) { h1 { font-size: 39px; }
  h3 { font-size: 29px; }
  h4 { font-size: 23px; }
  h4 a { font-size: 23px; }
  h5 { font-size: 19px; }
  p { font-size: 17px; }
  span, th, td, ul, li, select, option { font-size: 17px; }
  a { font-size: 17px; }
  input, label { font-size: 17px; }
  button { font-size: 17px; } }

@media screen and (min-width: 1200px) { h5 { font-size: 21px; }
  p { font-size: 19px; }
  span, th, td, ul, li, select, option { font-size: 19px; }
  a { font-size: 19px; }
  input, label { font-size: 19px; }
  button { font-size: 19px; } }

@media screen and (min-width: 1400px) { h1 { font-size: 44px; }
  h4 { font-size: 26px; }
  h4 a { font-size: 26px; }
  h5 { font-size: 22px; }
  p { font-size: 20px; }
  span, th, td, ul, li, select, option { font-size: 20px; }
  a { font-size: 20px; }
  input, label { font-size: 20px; }
  button { font-size: 20px; } }

header { position: relative; display: flex; align-items: center; justify-content: space-between; width: 100%; top: 0; z-index: 3; background-color: #fff; }

header .navbar { width: 100%; padding: 0; }

header .navbar .container-fluid { padding: 8px 5%; }

header .navbar .container-fluid .navbar-logo { display: flex; align-items: center; width: calc(100% - 70px); }

header .navbar .container-fluid .navbar-logo img { max-width: 280px; width: 40%; }

header .navbar .container-fluid .navbar-brand { position: absolute; left: 0; }

header .navbar .container-fluid .navbar-toggler { display: flex; flex-direction: column; justify-content: center; border: 0px; height: 55px; }

header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon { background-image: none; width: 35px; height: 4px; background-color: #2f2f2f; transform-origin: center; transition: all .2s 0s ease; }

header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon:nth-child(1) { transform: translate(0, -5px); }

header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon:nth-last-child(1) { transform: translate(0, 5px); }

header .navbar .container-fluid .navbar-toggler.open .navbar-toggler-icon { display: none; }

header .navbar .container-fluid .navbar-toggler.open .navbar-toggler-icon:nth-child(1) { display: block; transform: translate(0, 2px) rotate(135deg); }

header .navbar .container-fluid .navbar-toggler.open .navbar-toggler-icon:nth-last-child(1) { display: block; transform: translate(0, -2px) rotate(-135deg); }

header .navbar .container-fluid .navbar-collapse { flex-grow: initial; background-color: #fff; width: 100%; position: absolute; left: 0; top: 0; padding: 71px 0 0; z-index: -1; }

header .navbar .container-fluid .navbar-collapse .navbar-nav { padding: 5px 20px; height: calc(100vh - 0px); overflow-y: scroll; }

header .navbar .container-fluid .navbar-collapse .navbar-nav::-webkit-scrollbar { background: transparent; height: 8px; width: 8px; }

header .navbar .container-fluid .navbar-collapse .navbar-nav::-webkit-scrollbar-thumb { border: none; box-shadow: none; background: #91252b; border-radius: 4px; min-height: 40px; }

header .navbar .container-fluid .navbar-collapse .navbar-nav::-webkit-scrollbar-track { margin: 3px 0; }

header .navbar .container-fluid .navbar-collapse .nav-item { border-bottom: 2px solid #2f2f2f; }

header .navbar .container-fluid .navbar-collapse .nav-item.nowPage { border-bottom: 2px solid #91252b; }

header .navbar .container-fluid .navbar-collapse .nav-item.nowPage .nav-link { color: #91252b; font-weight: bold; }

header .navbar .container-fluid .navbar-collapse .nav-item .nav-link { color: #2f2f2f; padding: 20px 0px 10px 10px; position: relative; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-toggle { padding: 20px 30px 10px 10px; position: relative; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-toggle::after { position: absolute; right: 0px; display: inline-block; content: '\f063'; font: var(--fa-font-solid); color: #2f2f2f; top: 50%; transform: translate(0, -50%); border: 0; transition: .2s ease-in-out; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-toggle.show::after { transform: translate(0, -50%) rotate(180deg); }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu { transition: all 0.5s cubic-bezier(0.43, 0.05, 0.17, 1); position: relative; width: 100%; border-radius: 5px; opacity: 1; visibility: visible; background-color: transparent; padding: 10px 20px; border: 0px; top: auto; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu li .dropdown-item { position: relative; color: #2f2f2f; padding: 10px 0px; font-weight: 400; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu li .dropdown-item:before { position: absolute; left: -25px; display: inline-block; content: '\f061'; font: var(--fa-font-solid); color: #91252b; opacity: 0; visibility: hidden; top: 50%; transform: translate(0px, -50%); }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu li .dropdown-item:after { content: ""; position: absolute; bottom: 0; left: 0; margin: auto; width: 0; height: 1px; background: #91252b; transition: all .2s 0s ease; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu li .dropdown-item:hover { padding: 10px 0 10px 35px; transition: .2s ease-in-out; background-color: transparent; color: #91252b; font-weight: bold; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu li .dropdown-item:hover:before { left: 5px; color: #91252b; opacity: 1; visibility: visible; transition: .2s ease-in-out; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu li .dropdown-item:hover:after { width: 100%; transition: all .2s 0s ease; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme { justify-content: space-around; flex-direction: column; padding: 10px 20px 20px; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content { width: 100%; padding: 0 5px; margin: 0 10px 20px; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content .nav-link { padding: 10px 0; margin: 0; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content .nav-link:after { opacity: 0; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content .nav-link:hover { font-weight: 400; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content .nav-link.dropdown-toggle { color: #91252b; border-bottom: 1px solid #2f2f2f; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content ul { padding: 0 10px; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content ul li { padding: 0 5px; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme.show { display: flex; }

header .navbar .container-fluid .navbar-collapse .nav-item .dropdownBg { transition: all 0.5s cubic-bezier(0.43, 0.05, 0.17, 1); position: fixed; z-index: -1; width: 100%; height: 100%; left: 0; top: 0; background: #33333326; visibility: hidden; opacity: 0; }

header.fixed_header { border-bottom: 1.5px solid #91252b; box-shadow: 2px 9px 46px 0px #2f2f2f1f; position: fixed; }

header.header_index { background-color: transparent; position: absolute; }

@media screen and (min-width: 576px) { header .navbar .container-fluid .navbar-logo img { width: 35%; }
  header .navbar .container-fluid .navbar-collapse { width: 65%; } }

@media screen and (min-width: 768px) { header .navbar .container-fluid .navbar-logo p { font-size: 22px; }
  header .navbar .container-fluid .navbar-collapse { width: 65%; } }

@media screen and (min-width: 992px) { header { padding: 0px; }
  header .navbar .container-fluid .navbar-logo { width: auto; }
  header .navbar .container-fluid .navbar-logo span { margin: 0 15px; font-size: 20px; }
  header .navbar .container-fluid .navbar-logo p { font-size: 20px; }
  header .navbar .container-fluid .navbar-collapse { display: none !important; }
  header .navbar .container-fluid .navbar-collapse.show { display: block !important; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav { flex-direction: column; } }

@media screen and (min-width: 1024px) { header { padding: 0px; }
  header .navbar .container-fluid { width: 95%; padding: 8px 0%; }
  header .navbar .container-fluid .navbar-logo { width: auto; }
  header .navbar .container-fluid .navbar-logo span { margin: 0 5px; font-size: 15px; }
  header .navbar .container-fluid .navbar-logo p { font-size: 15px; }
  header .navbar .container-fluid .navbar-toggler { display: none; }
  header .navbar .container-fluid .navbar-collapse { position: initial; display: flex !important; justify-content: center; background-color: transparent; min-width: 490px; padding: 0; z-index: 1; margin: 0 auto; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav { padding: 0; height: auto; overflow: initial; flex-direction: row; }
  header .navbar .container-fluid .navbar-collapse .nav-item { border-bottom: 0px; }
  header .navbar .container-fluid .navbar-collapse .nav-item.nowPage { border-bottom: 0px; }
  header .navbar .container-fluid .navbar-collapse .nav-item.nowPage .nav-link { border-bottom: 2px solid #91252b; }
  header .navbar .container-fluid .navbar-collapse .nav-item .nav-link { margin: 20px 10px; padding: 5px 0; }
  header .navbar .container-fluid .navbar-collapse .nav-item .nav-link:hover { font-weight: bold; color: #91252b; }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-toggle::after { display: none; }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu { position: absolute; width: 250px; background-color: #fff; left: auto; right: 0; top: calc(100% - 22px); margin-top: 0; }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu li .dropdown-item { white-space: initial; }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.show ~ .dropdownBg { opacity: 1; visibility: visible; }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme { flex-direction: row; justify-content: flex-start; width: auto; max-width: 540px; overflow-x: scroll; }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content { width: auto; margin: 0 10px; min-width: 265px; }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content .nav-link:hover::before { display: none; }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme.show { display: flex; } }

@media screen and (min-width: 1200px) { header .navbar .container-fluid .navbar-logo img { width: 45%; }
  header .navbar .container-fluid .navbar-logo span { margin: 0 15px; font-size: 20px; }
  header .navbar .container-fluid .navbar-logo p { font-size: 20px; }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme { max-width: 740px; } }

@media screen and (min-width: 1600px) { header .navbar .container-fluid { width: 80%; }
  header .navbar .container-fluid .navbar-collapse .nav-item .nav-link { margin: 20px; padding: 5px 0; }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme { max-width: 895px; } }

footer { background-color: #2f2f2f; padding: 45px 10%; }

footer .footer_area .footer_information { display: flex; justify-content: center; flex-wrap: wrap; }

footer .footer_area .footer_information p { color: #fff; }

footer .footer_area .footer_information .footer_copyright_text { color: #999; font-size: 13px; }

footer .contact_area { position: fixed; right: 1%; bottom: 30px; background-color: #fff; width: 60px; height: 60px; display: flex; justify-content: center; align-items: center; border-radius: 50%; border: 1px solid #91252b; cursor: pointer; }

footer .contact_area:hover { background-color: #91252b; }

footer .contact_area:hover .contact_area_btn p { color: #fff; }

footer .fa-xmark { font-size: 40px; }

footer .modal_contact .modal-dialog .modal-content .modal-header { padding: 10px 20px; }

footer .modal_contact .modal-dialog .modal-content .modal-body { padding: 10px 20px; }

footer .modal_contact .modal-dialog .modal-content .modal-body .modal_contact_item { display: flex; align-items: flex-start; border-bottom: 1px dotted #2f2f2f; padding: 10px 0; }

footer .modal_contact .modal-dialog .modal-content .modal-body .modal_contact_item:nth-last-child(1) { border-bottom: 0; }

footer .modal_contact .modal-dialog .modal-content .modal-body .modal_contact_item .modal_contact_item_title p { word-break: keep-all; }

footer .modal_contact .modal-dialog .modal-content .modal-body .modal_contact_item .modal_contact_item_content { border: 0px; }

footer .modal_contact .modal-dialog .modal-content .modal-body .modal_contact_item .modal_contact_item_content .modal_contact_item_content_item { display: flex; flex-wrap: wrap; }

footer .modal_contact .modal-dialog .modal-content .modal-body .modal_contact_item .modal_contact_item_content .modal_contact_item_content_item .modal_contact_item_content_link:nth-child(1) { margin: 0 20px 0px 0; }

footer .modal_contact .modal-dialog .modal-content .modal-body .modal_contact_item .modal_contact_item_content a { color: #91252b; border-bottom: 1px solid #91252b; background: linear-gradient(#ffe503, #ffe503) 0 100%/0 100% no-repeat; }

footer .modal_contact .modal-dialog .modal-content .modal-body .modal_contact_item .modal_contact_item_content a:hover { background-size: 100% 100%; transition: background-size 0.45s cubic-bezier(0.76, 0, 0.24, 1) 0s; color: #681b1f; }

footer .scroll_top { position: fixed; right: 1%; bottom: 60px; max-width: 50px; width: 8%; cursor: pointer; }

footer .scroll_top .scroll_top_arrow { fill: #91252b; position: absolute; }

footer .scroll_top .scroll_top_border { stroke: #91252b; fill: none; stroke-width: 1px; stroke-dasharray: 100; stroke-dashoffset: 100; transition: 0.8s; }

footer .scroll_top:hover .scroll_top_border { stroke-dashoffset: 0; }

@media screen and (min-width: 992px) { footer .contact_area { right: 2%; width: 80px; height: 80px; } }

@media screen and (min-width: 1400px) { footer .contact_area { width: 90px; height: 90px; } }

.slide { position: relative; }

.slide.slide_personal { background-color: #ffaa65; background-image: url(../image/slide/slide_personal.png); background-position: center; background-size: cover; }

.slide.slide_research { background-color: #7fdefd; background-image: url(../image/slide/slide_research.png); background-position: center; background-size: cover; }

.slide.slide_laboratory { background-color: #b7cc57; background-image: url(../image/slide/slide_laboratory.png); background-position: center; background-size: cover; }

.slide.slide_society { background-color: #77c6c9; background-image: url(../image/slide/slide_society.png); background-position: center; background-size: cover; }

.slide.slide_page .slide_page_area { width: 80%; }

.slide.slide_page .slide_page_area .slide_title { padding: 30px 5%; }

.slide.slide_page .slide_page_area .slide_title h3 { color: #fff; }

.slide.slide_page .slide_page_area .slide_figure { display: none; }

main { background-color: #f4f8fb; }

main .main_content_area { width: 80%; max-width: 1200px; margin: 0 auto; padding: 40px 0; background-color: #fff; }

main .main_content_area .main_content_left { display: none; }

main .main_content_area .main_content_right { padding: 20px 10px; }

main .main_content_area .main_content_right .main_content_text_item { margin: 0 0 40px; }

main .main_content_area .main_content_right .main_content_text_item .main_content_text_tittle { margin: 0 0 10px; }

main .main_content_area .main_content_right .main_content_text_item .main_content_text_content .text_content_paragraph { margin: 5px 0; }

main .main_content_area .main_content_right .main_content_text_item .main_content_text_content .text_content_paragraph.text_space { text-indent: 2em; }

main .main_content_area .main_content_right .main_content_text_item .main_content_text_content .text_around_area { margin: 20px 0; }

main .main_content_area .main_content_right .main_content_text_item .main_content_text_content .text_around_area .text_around_img { margin: 10px; float: right; }

main .main_content_area .main_content_right .main_content_text_item .main_content_text_content .text_around_area .text_around_img.text_around_img_laboratory { width: 50%; max-width: 350px; }

main .main_content_area .main_content_right .main_content_img_item { margin: 40px auto; }

main .main_content_area.single_area .main_content_right { width: 100%; }

@media screen and (min-width: 768px) { .slide .slide_page_area .slide_title { padding: 80px 10%; } }

@media screen and (min-width: 1200px) { .slide.slide_page .slide_page_area { display: flex; align-items: flex-end; justify-content: center; padding: 0 5%; max-width: 1200px; margin: 0 auto; }
  .slide.slide_page .slide_page_area .slide_title { padding: 80px 5% 80px 0; }
  .slide.slide_page .slide_page_area .slide_figure { display: block; width: 260px; }
  main .main_content_area { display: flex; }
  main .main_content_area .main_content_left { display: block; width: 20%; min-width: 230px; padding: 20px; }
  main .main_content_area .main_content_left .main_content_left_ul li { margin: 10px 0; }
  main .main_content_area .main_content_left .main_content_left_ul li .main_content_left_link { position: relative; }
  main .main_content_area .main_content_left .main_content_left_ul li .main_content_left_link.active, main .main_content_area .main_content_left .main_content_left_ul li .main_content_left_link:hover { color: #91252b; }
  main .main_content_area .main_content_left .main_content_left_ul li .main_content_left_link.active::after { position: absolute; font-family: 'Font Awesome 5 Free'; color: #91252b; font-weight: 900; content: "\f0de"; top: 50%; margin: 0 0 0 5px; font-size: 15px; transform: translate(0px, -50%) rotate(90deg); }
  main .main_content_area .main_content_right { width: calc(100% - 230px); padding: 20px 35px; } }

main .index_area { background-image: url(../image/photo/index/index_bg.jpg); background-position: center; background-size: cover; }

main .index_area .index_area_content { max-width: 1200px; margin: 0 auto; }

main .index_area .index_area_content .index_area_left { width: 57.5%; padding: 160px 0 85px; }

main .index_area .index_area_content .index_area_left .index_area_slide .slide .swiper .swiper-wrapper { height: auto; }

main .index_area .index_area_content .index_area_left .index_area_slide .slide .swiper .swiper-wrapper .swiper-slide img { padding: 15px; background-color: #fff; border-radius: 5px; border: 1px solid #f1f1f1; }

main .index_area .index_area_content .index_area_left .index_area_slide .slide .swiper .swiper-wrapper .swiper-slide .slide_index_text { position: absolute; bottom: 15px; width: calc(100% - 30px); left: 50%; transform: translate(-50%, 0px); background-color: rgba(47, 47, 47, 0.6); padding: 5px 10px; }

main .index_area .index_area_content .index_area_left .index_area_slide .slide .swiper .swiper-wrapper .swiper-slide .slide_index_text p { color: #fff; text-align: center; }

main .index_area .index_area_content .index_area_left .index_area_slide .slide .swiper .swiper-pagination { position: inherit; bottom: auto; left: auto; margin: 15px 0 0; }

main .index_area .index_area_content .index_area_left .index_area_slide .slide .swiper .swiper-pagination .swiper-pagination-bullet { background-color: rgba(47, 47, 47, 0.3); opacity: 1; width: 15px; height: 15px; }

main .index_area .index_area_content .index_area_left .index_area_slide .slide .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { background-color: rgba(47, 47, 47, 0.5); }

main .index_area .index_area_content .index_area_left .index_area_text_area { display: flex; align-items: center; margin: 60px 0 0; }

main .index_area .index_area_content .index_area_left .index_area_text_area .index_area_text_name { margin: 0 60px 0 0; }

main .index_area .index_area_content .index_area_left .index_area_text_area .index_area_text_name .big_name { font-size: 48px; }

main .index_area .index_area_content .index_area_left .index_area_text_area .index_area_text_material .index_area_text_experience { margin: 0 0 25px; }

main .index_area .index_area_content .index_area_left .index_area_text_area .index_area_text_material .index_area_text_information .information_link_area { display: flex; }

@media screen and (min-width: 1024px) { main .index_area { background-image: url(../image/photo/index/index_bg.jpg); background-position: center; background-size: cover; }
  main .index_area .index_area_content { max-width: 1200px; margin: 0 auto; }
  main .index_area .index_area_content .index_area_left { width: 57.5%; padding: 160px 0 85px; margin: 0 0 0 40px; }
  main .index_area .index_area_content .index_area_left .index_area_slide .slide .swiper .swiper-wrapper { height: auto; }
  main .index_area .index_area_content .index_area_left .index_area_slide .slide .swiper .swiper-wrapper .swiper-slide img { padding: 15px; background-color: #fff; border-radius: 5px; border: 1px solid #f1f1f1; }
  main .index_area .index_area_content .index_area_left .index_area_slide .slide .swiper .swiper-wrapper .swiper-slide .slide_index_text { position: absolute; bottom: 15px; width: calc(100% - 30px); left: 50%; transform: translate(-50%, 0px); background-color: rgba(47, 47, 47, 0.6); padding: 5px 10px; }
  main .index_area .index_area_content .index_area_left .index_area_slide .slide .swiper .swiper-wrapper .swiper-slide .slide_index_text p { color: #fff; text-align: center; }
  main .index_area .index_area_content .index_area_left .index_area_slide .slide .swiper .swiper-pagination { position: inherit; bottom: auto; left: auto; margin: 15px 0 0; }
  main .index_area .index_area_content .index_area_left .index_area_slide .slide .swiper .swiper-pagination .swiper-pagination-bullet { background-color: rgba(47, 47, 47, 0.3); opacity: 1; width: 15px; height: 15px; }
  main .index_area .index_area_content .index_area_left .index_area_slide .slide .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { background-color: rgba(47, 47, 47, 0.5); }
  main .index_area .index_area_content .index_area_left .index_area_text_area { display: flex; align-items: center; margin: 60px 0 0; }
  main .index_area .index_area_content .index_area_left .index_area_text_area .index_area_text_name { margin: 0 60px 0 0; }
  main .index_area .index_area_content .index_area_left .index_area_text_area .index_area_text_name .big_name { font-size: 48px; }
  main .index_area .index_area_content .index_area_left .index_area_text_area .index_area_text_material .index_area_text_experience { margin: 0 0 25px; }
  main .index_area .index_area_content .index_area_left .index_area_text_area .index_area_text_material .index_area_text_information .information_link_area { display: flex; } }

@media screen and (min-width: 1400px) { main .index_area .index_area_content .index_area_left { margin: 0; } }

main .main_content_area .main_content_right .personal_area .personal_item { margin: 20px 0; }

main .main_content_area .main_content_right .personal_area .personal_item .personal_tittle { display: flex; align-items: center; justify-content: center; background-color: #f1f1f1; padding: 10px 0; cursor: pointer; }

main .main_content_area .main_content_right .personal_area .personal_item .personal_tittle:hover { background-color: #e4e4e4; }

main .main_content_area .main_content_right .personal_area .personal_item .personal_tittle h4 { margin: 0 10px 0 0; }

main .main_content_area .main_content_right .personal_area .personal_item .personal_tittle .arrow { display: inline-block; border-width: 0px 8px 8px 8px; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #2f2f2f; }

main .main_content_area .main_content_right .personal_area .personal_item .personal_tittle .arrow.up { border-bottom: 8px solid #2f2f2f; border-top: 0px solid #2f2f2f; }

main .main_content_area .main_content_right .personal_area .personal_item .personal_content { padding: 20px 10px; }

main .main_content_area .main_content_right .personal_area .personal_item .personal_content .personal_content_item_table { width: 100%; }

main .main_content_area .main_content_right .personal_area .personal_item .personal_content .personal_content_item_table .personal_content_item_tr { display: flex; flex-direction: column; margin: 10px 0; padding: 5px 0; }

main .main_content_area .main_content_right .personal_area .personal_item .personal_content .personal_content_item_table .personal_content_item_tr:nth-child(even) { background-color: #f2f2f2; }

main .main_content_area .main_content_right .personal_area .personal_item .personal_content .personal_content_item_table .personal_content_item_tr td { width: 100%; padding: 0 10px; }

@media screen and (min-width: 992px) { main .main_content_area .main_content_right { padding: 0 25px; }
  main .main_content_area .main_content_right .personal_area .personal_item { margin: 0 0 30px; }
  main .main_content_area .main_content_right .personal_area .personal_item .personal_content .personal_content_item_table .personal_content_item_tr { flex-direction: row; }
  main .main_content_area .main_content_right .personal_area .personal_item .personal_content.learning_experience .personal_content_item_table { width: 100%; }
  main .main_content_area .main_content_right .personal_area .personal_item .personal_content.learning_experience .personal_content_item_table .personal_content_item_tr td:nth-child(1) { width: 55%; }
  main .main_content_area .main_content_right .personal_area .personal_item .personal_content.learning_experience .personal_content_item_table .personal_content_item_tr td:nth-child(2) { width: 20%; }
  main .main_content_area .main_content_right .personal_area .personal_item .personal_content.learning_experience .personal_content_item_table .personal_content_item_tr td:nth-child(3) { width: 25%; } }

main .main_content_area .main_content_right .sr_logo { width: 40%; max-width: 250px; margin: 0 auto; }
